body
{
	background : url("/EShops/docs/bg1.png");
	background-size: 2000px*2000px;
	font-family:cursive;
}
h1
{
	background-image: linear-gradient(to right,lightblue,white); 
    font-size:40px;
    font-style:italic;
}
h3
{
	text-align:center;
	color:blue;
	font-size:30px
}